body{
   background-color:  #F2F2F2; 
}
.container{
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sedans{
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    max-width: 180px;
    padding: 30px;
    background-color: hsl(31, 77%, 52%);


}

.suv{
    max-width: 180px;
    padding: 30px;
    background-color: hsl(184, 100%, 22%);

}
.luxury{
    max-width: 180px;
    padding: 30px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;

}

h5{
    font-family: big shoulders display;
    color: hsl(0, 0%, 95%);
    font-size: 20px;
    font-weight: 700;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}
.btn-1{
    margin-top: 40px;
    background-color: hsl(0, 0%, 95%);
    color:inherit;
    border-radius: 25px;
    /* border-color: hsl(0, 0%, 95%); */
    padding: 12px;
    border:none
   
}
.btn-1:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #fff;
}

@media screen and (max-width: 375px) {
    .container {
        flex-wrap: wrap;
    }
    
}